*{
    padding:0px;
    margin:0px;
}

body{
	background: url('background.png');
	color: #fff;
    position: relative;
    width: 1440px;
    height: 1024px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header{
    width: 1518px;
    height: 89.81px;
    left: 0px;
    top: 0px;
    background: rgba(196, 196, 196, 0.5);
}

header h1{
    float: left;
    display: inline-block;
    padding: 6px 24px;
    font-size: 70px;
    color: #000000;
}

header h1 a{
    color: #000000;
}

header h1 a:hover{
    color: red;
}

header ul{
    float: right;
}

header ul li{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 200px;
    font-size: 36px;
    display: inline-block;
}

header ul li a{
    color: #000000;
}

header ul li a:hover{
    color:red;
}

a{
    text-decoration: none;
}
.container{
    position: absolute;
    width: 1518px;
    height: 574px;
    left: 0px;
    top: 202px;
    background: rgba(196, 196, 196, 0.5);
}

.heading h2{
    padding-top: 20px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 67px;
    text-align: center;
    color: #FFFFFF;
}

.lesson{
    float: left;
    width: 25%;
}

.lesson-icon img{
    width: 300px;
    height: 200px;
    padding-left: 40px;
    padding-top: 50px;
}

.txt-contents{
    position: absolute;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    padding-top: 15px;
    float: left;
    width: 25%;
    text-align: center;
    color: #000000;
}

.lesson-icon button{
    font-size: 25px;
    float: left;
    width: 25%;
    margin-top: 70px;
    border: 1px solid;
    margin-left: 20%;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 244px;
height: 59.14px;
left: 397px;
top: 642.48px;

background: #7FBBF2;
}

.lesson-icon a{
    text-align: center;
    color: black;
}

footer{
    position: absolute;
    width: 1518px;
height: 190px;
left: 0px;
top: 834px;
background: rgba(58, 0, 0, 0.5);
}

footer p{
    padding-top: 15px;
}
